<html>
  <head>
    <style>
      .down {
        width: 300px;
        flex-direction: column;
        display: flex;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("form");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          const form_data = new FormData(form);
          fetch(form.action, {
            method: "POST",
            body: form_data,
          });
        });
      });
    </script>
  </head>

  <body>
    <h1>Writer</h1>
    <form method="post" action="/writer_submit" class="down" id="form">
      <label for="name">name</label>
      <input type="text" name="name" placeholder="name" />

      <label for="power_level">power_level</label>
      <input type="text" name="power_level" placeholder="power_level" />

      <input type="submit" name="submit" />
    </form>
  </body>
</html>
